body {
    margin: 0;
    padding: 0;
}

.headd {
    display: flex;
    background-color: rgb(245, 244, 239);
    height: 55px;
}

.button1 {
    width: 35px;
    height: 40px;
    background-color: rgb(169, 207, 222);
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 7px;
}

.button1 img {
    width: 33px;
    height: 33px;
    margin-top: 3px;
}

.button1:hover {
    background-color: rgb(117, 206, 248);
}

.button2 {
    width: 35px;
    height: 40px;
    background-color: rgb(169, 207, 222);
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 7px;
}

.button2 img {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-top: 5px;
}

.button2:hover {
    background-color: rgb(117, 206, 248);
}

.foto {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
}

.fotot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotot img {
    height: 300px;
    width: 270px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;
}
.fotot div{
    background-color: rgb(255, 255, 255);
    height: 470px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
}
label{
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 21.5px;
}
.p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

input[type=submit] {
    background-color: rgb(221, 221, 221);
    color: rgb(46, 46, 46);
    height: 40px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6px;
    margin-right: 7px;
}

input[type=submit]:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(204, 202, 202);
    border-color: rgb(249, 253, 251);

}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46vh;
    background-color:  rgb(255, 255, 255);

}
.box {
    position: absolute;
    width: 200px;
    height: 140px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,black) ;
}
.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destn{
    background-color:rgb(245, 244, 239);
    color: rgb(142, 142, 143);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.destn:hover{
    color: rgb(96, 95, 95);
}
