body{
    margin: 0;
    font-family: "Overpass", sans-serif ;
}

.hero video{
    width: 60%;
  height: fit-content;
  margin-top: 100px;
}

.hero{
    display: flex;
    justify-content: space-between;
    height: 650px;
    width: 100%;
    background-color:rgb(25, 32, 49);
    background: linear-gradient(180deg, rgb(25, 32, 49),  rgb(25, 32, 49));
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 15px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #7424ff1f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,rgb(67, 52, 169),hsl(219, 83%, 60%));
    border-radius: 30px;
    transition: .5s;
}
.social-icon{
   
    margin: 30px auto;
    text-align: center;
}
.social-icon img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
     cursor: pointer;
     display: block;
     margin: auto;
     background: linear-gradient(to right,#2d3c91,#2549a3);
     border: 0;
     outline: none;
     border-radius: 30px;

}
.chech-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 50px;
}
footer{
    margin-top: 43.5rem;
}
@media only screen and (max-width: 1024px) {
    main{
        width: 1024px;
    }
    .hero video{
        width: 600px;
    }
}
@media only screen and (max-width: 912px){
main{
    width: 912px;
}
.hero{
    flex-direction: column-reverse;
    height: 1300px;
    margin-bottom: 20rem;
}
.hero video{
    width: 900px;
}
#social-part{
    margin-top: 85rem;
}
.form-box{
    height: 600px;
}
input[type="email"]{
    font-size: 20px;
}
input[type="password" ]{
    font-size: 20px;
}
input[type="text" i]{
    font-size: 20px;
}
span{
    font-size: 18px;
}
.chech-box{
    margin-bottom: 38px;
}

}
@media only screen and (max-width: 820px){
main{
    width: 820px;
}
.hero video{
    width: 800px;
}
}
@media only screen and (max-width: 768px){
main{
    width: 768px;
}
.hero video{
    width: 750px;
}
}
@media only screen and (max-width: 540px){
    main{
        width: 540px;
    }
    .hero{
        height: fit-content;
    }
    .hero video{
        width: 95%;
    } 
    #social-part{
        margin-top: 70rem;
    }
}
@media only screen and (max-width: 412px){
main{
    width: 412px;
}
.hero video{
    width: 400px;
} 
}
@media only screen and (max-width: 360px){
    main{
        width: 360px;
    }
    .hero video{
        width: 350px;
    } 
    .form-box{
        width: 310px;
    }
    .input-group{
        margin-left: -30px;
    }
    }
    @media only screen and (max-width: 430px){
main{
    width: 420px;
}
.hero video{
    width: 310px;
} 
    }
    @media only screen and (max-width: 375px){
        main{
            width: 375px;
        }
        form{
            width: 330px;
        }
    }
