.cl{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.date1{
    margin-left: 9px;
}
.passengers{
    margin-top: 20px;
}
.class{
    margin-top: 20px;
}
.checkbox{
    width: 120vh;
    height: 26vh;
}
input[type=submit]{
    margin-top: 15px;
    margin-left: 20px;
}
@media only screen and (max-width:1080px){
    .foto{
        width: 1060px;
    }
    .checkbox{
        width: 120vh;
        margin-right: 10px;
        margin-left: 10px;
    }
    }
    @media only screen and (max-width:1024px){
        main{
            width: 1024px;
        }
        .foto{
            width: auto;
            height: 570px;
        }
        .checkbox{
            height: 260px;
            width: 700px;
            margin-right: 50px;
            margin-bottom: 40px;
        }
        .from{
            margin-right: 60px;
        }
        .date1{
            margin-right: 56px;
        }
        .searchbox{
            margin-top: 15px;
        }
    }
    @media only screen and (max-width:912px){
    .checkbox{
       margin-left: 20px;
    
    }
    .foto{
        width: 1023px;
       height: 630px;
    }
    }
    
    @media only screen and (max-width: 768px) {
        main{
            width: 768px;
        }
        .headd {
            height: auto;
        }
    
        .button1{
            width: 32px;
        }
        .button2 {
            width: 32px;
            margin-bottom: 10px;
        }
    
        .button1 img{
            margin-top: 6px;
            width: 32px;
            height: 27px;
        }
        .button2 img {
            width: 27px;
            height: 25px;
            margin-top: 8px;
        }
    
        .foto {
            height: 650px;
            width: 767px;
        }
    
    .to label{
        margin-right: 60px;
    }
        .checkbox {
            height: 250px;
            width: 400px;
            font-size: medium;
            margin-left: 50px;
        } }
    @media only screen and (max-width:960px){
        .checkbox{
            margin-right: 80px;
        }
        
    }
    @media only screen and (max-width:820px){
        main{
            width: 820px;
        }
        .foto{
            width: 820px;
        }
        .checkbox{
            width: 670px;
        }
        .searchbox{
            margin-left: 20px;
        }
    }
    
    @media only screen and (max-width:280px){
        .foto{
            height: 700px;
            width: 500px;
        }
        .checkbox{
            height: 400px;
            width: 360px;
        }
    .destinations,
    .datat{
        display: block;
    }
    .class{
        margin-right: 50px;
    }
    .searchbox{
        margin-top: 10px;
    }
    }
    @media only screen and (max-width:412px){
    main{
        width: 412px;
    }
    .foto{
        width: 412px;
    }
    .checkbox{
        width: 310px;
        height: 390px;
        margin-left: -3rem;
    }
    .destinations,
    .datat{
        display: block;
    }
    .class{
        margin-right: 30px;
    }
    .searchbox{
        margin-top: 10px;
    }
   .date1{
    width: 200px;
   }
   .end{
    margin-left: -270px;
    margin-top: 80px;
   }
    }
    @media only screen and (max-width:540px){
 main{
    width: 540px;
 }
 .foto{
    width: 540px;
}
 .checkbox{
    width: 310px;
    height: 390px;
}
.destinations,
.datat{
    display: block;
}
.class{
    margin-right: 30px;
}
.searchbox{
    margin-top: 10px;
}
.date1{
width: 200px;
}
.end{
margin-left: -270px;
margin-top: 80px;
}
    }
    @media only screen and (max-width:430.40px){
    main{
        width: 430px;
    }
    .foto{
        width: 430px;
    }
    .checkbox{
        width: 310px;
        height: 400px;
        margin-left: 60px;
    }
    .destinations,
    .datat{
        display: block;
    }
    .class{
        margin-right: 30px;
    }
    .searchbox{
        margin-top: 10px;
    }
    }
